<template name="explore">
    <div class="search-wrapper">
	<div class="search-container">
	    <input class="search-textbox" type="text" placeholder="Type to search">
	</div>
    </div>

    <div class="container result-container">
	<div id="user-results">
		{{> searchUserResult}}
	</div>
	<div id="model-results">
		{{> searchResult}}
	</div>
    </div>
	
</template>

<template name="exploreResult">
	{{#if models}}
	{{#each models}}
	    {{#if converted }}
			{{> modelPost }}
	    {{/if}}
	{{/each}}
    {{/if}}
</template>

<template name="searchResult">
  <div id='search-result' class="search-result">
    <div id="search-meta">
      {{#if isLoading}}
        searching ...
      {{/if}}
    </div>

   <h3>Models</h3>
    {{#each getModels}}
    <a href="models/{{_id}}">
    <div class="searchModels" id="view-model-options" style="padding:2px">
      <h4 class="name">
        {{name}}
      </h4>
      <h5 style="color:black;">{{about}}</h5>
    </div>
	</a>
    {{/each}}
  </div>
</template>

<template name="searchUserResult">
  <div id='search-result' class="search-result">
    <div id="search-meta">
      {{#if isLoading}}
        searching ...
      {{/if}}
    </div>

    <h3 class="user-result-heading">Users</h3>
    {{#each getUsers}}
    <a href="profile/{{_id}}">
    <div class="searchUsers" id="view-model-options" style="padding:2px">
      <div class="user-profile-pic" style="background-image:url('/cfs/files/profilePictures/{{profile.pic}}'); width:100px; height:100px;"></div>
      <div class="user-info">
      <h4 class="name">{{profile.name}}</h4>
      <h5 style="color:black;">{{profile.bio}}</h5>
      </div>
    </div>
	</a>
    {{/each}}
  </div>
</template>
