.upload-point {
  font-family: "Montserrat", sans-serif;
  margin: 15px 0;
}

.upload-point:before {
  content: "";
  border-radius: 50%;
  display: inline-block;
  margin-top: 5px;
  margin-right: 10px;
  width: 12px;
  height: 12px;
  background-color: #eee;
}

.upload-point-green:before {
  content: "";
  border-radius: 50%;
  display: inline-block;
  margin-top: 5px;
  margin-right: 10px;
  width: 12px;
  height: 12px;
  background-color: #3fbe4b;
}

.processing-content {
  padding: 20px 20px;
  text-align: center;
}

.upload-thumbnail-text {
  margin-top: 15px;
}
