/* Buttons */
.button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px 23px;
  display: inline-block;
  border-radius: 4px;
  box-shadow: 6px 0px 27px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  margin: 1px;
  border: 0;
  cursor: pointer;
  color: #333;
  transition-duration: 0.1s;
  user-select: none;
  outline: 0;
}
.button-o {
  border: 1px solid #333;
  color: #333;
  background-color: #FFF;
}

.button:hover {
  transform: translateY(-2px);
  color: #333;
}

.button:active {
  transform: translateY(0px);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.button-large {
  font-size: 16px;
  padding: 12px 40px;
}

.button-small {
  font-size: 11px;
  padding: 9px 22px;
}

.button-tiny {
  font-size: 11px;
  padding: 0px 12px;
  box-shadow: 2px 0px 15px rgba(0, 0, 0, 0.05) !important;
}

.button-red {
  background-color: #f03b5b;
  color: #fff;
  box-shadow: 6px 0px 27px rgba(0, 0, 0, 0.2);
}
.button-red:hover {
  color: #FFF;
}
.button-red-o {
  color: #f03b5b;
  border: 1px solid #f03b5b;
}
.button-red .button-counter {
  border-left: 1px solid rgba(255, 255, 255, 0.7);
}
.button-red-o .button-counter {
  border-left: 1px solid #f03b5b;
}

.button-blue {
  background-color: #2a589c;
  color: #fff;
  box-shadow: 6px 0px 27px rgba(0, 0, 0, 0.2);
}
.button-blue:hover {
  color: #FFF;
}
.button-blue-o {
  background-color: #FFF;
  border: 1px solid #2a589c;
  color: #2a589c;
}
.button-blue .button-counter {
  border-left: 1px solid rgba(255, 255, 255, 0.7);
}
.button-blue-o .button-counter {
  border-left: 1px solid #2a589c;
}

.button-green {
  background-color: #3fbe4b;
  color: #fff;
  box-shadow: 6px 0px 27px rgba(0, 0, 0, 0.2);
}
.button-green:hover {
  color: #FFF;
}
.button-green-o {
  color: #3fbe4b;
  background-color: #FFF;
  border: 1px solid #3fbe4b;
}
.button-green .button-counter {
  border-left: 1px solid rgba(255, 255, 255, 0.7);
}
.button-green-o .button-counter {
  border-left: 1px solid #3fbe4b;
}

.button-gray {
  color: #888;
  border: 1px solid #888;
}

.button-counter {
  font-weight: 400;
  display: inline;
  border-left: 1px solid #333;
  padding: 10px 0 10px 23px;
  margin-left: 23px;
}

.button-non-clickable {
  cursor: default;
}

.button-non-clickable:hover {
  transform: none;
}

.no-shadow {
  box-shadow: none !important;
}

.button img {
  margin-top: -2px;
  width: 16px;
  margin-right: 5px;
}
