<template name = "header">
	<header class="main-header">
			<a href="/" class="header-logo">
				OGV
			</a>
			<div class="header-right">
				
				{{#if currentUser}}
				<div id="header-profile-button" class="header-button">
					<div class="post-item user-image" 
					style="background-image:url(&quot;{{ loggedInUser.profilePic }}&quot;); float: left; margin: 14px 9px 0 0; width:30px; height:30px;">
					</div>
					Profile
					<div id="header-profile-menu" class="menu-hidden">
						bem
				</div>
				</div>
				

				{{else}}
				<a href="/log-in">
					<div class="header-button">
						Login
					</div>
				</a>
				{{/if}}
			</div>
	</header>
</template>
