.main-header {
  position: fixed;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background:#333;
  z-index: 1000;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.3);
  box-sizing: border-box;
  padding: 0 15px;
}
.header-logo {
  display: inline-block;
  color: #FFF;
  font-weight: 700;
  font-size: 30px;
  font-family: "Megrim", Arial, Helvetica, sans-serif;
}
.header-logo:hover {
  color: #FFF;
}
.header-logo:visited {
  color: #FFF;
}
.header-right {
  float: right;
}
.header-button {
  display: inline-block;
  color: #FFF;
  padding: 0 15px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 13px;  
}
.header-button:hover {
  background-color: rgba(255,255,255,0.2);
}
#header-profile-menu {
  cursor: default;
  position: absolute;
  top: 100%;
  float: left;
  margin-left: -146px;
  width: 250px;
  background: #FFF;
  box-shadow: 0px 0px 35px rgba(0,0,0,0.1);
}
.menu-hidden {
  display: none;
}
#header-notification-menu {
  cursor: default;
  position: absolute;
  top: 100%;
  float: left;
  margin-left: -118px;
  width: 250px;
  height: 300px;
  background: #FFF;
  box-shadow: 0px 0px 35px rgba(0,0,0,0.1);
}
.header-container {
  margin: 0 auto;
  width: 100%;
  max-width: 980px;
}
.header-button .button {
  font-size: 12px;
  line-height: 12px;
  color: #FFF;
  transform: translateY(-1px);
}

.header-button i {
  color: #FFF;
  margin-right: 5px;
}

.header-button:hover {
  color: #FFF;
}
.header-button:active {
  color: #FFF;
}
.header-button:visited {
  color: #FFF;
}

#header-profile-menu {
  color: #333;
}

.header-profile-item {
  width: 100%;
  padding: 10px;
  display: block;
  line-height: 16px;
  color: #333;
  border-bottom: 1px solid rgba(0,0,0,0.07);
}

.notification-none {
  color: #333;
  text-align: center;
  
}