<template name="header">
	<header class="main-header">
		<div class="header-container">
			{{#if currentUser}}
			<a href="/newsfeed" class="header-logo">
				OGV
			</a> {{else}}
			<a href="/" class="header-logo">
				OGV
			</a> {{/if}}
			<div class="header-right">

				{{#if currentUser}}
				<div class="header-button">
					<a href="/upload" class="button button-red">
						<i class="fa fa-upload" aria-hidden="true"></i>
						Upload
					</a>
				</div>
				<a href="/explore" class="header-button">
					<i class="fa fa-search" aria-hidden="true"></i> Explore
				</a>
				<div id="header-notification-button" class="header-button">
					<i class="fa fa-bell" aria-hidden="true"></i> Notifications
					<div id="header-notification-menu" class="menu-hidden">
						{{#if notifications}} {{#each notifications}} {{> notification}} {{/each}} {{else}}
						<div class="notification-none">
							No notifications for now.
						</div>
						{{/if}}
					</div>
				</div>
				<div id="header-profile-button" class="header-button">
					<div class="post-item user-image" style="background-image:url(&quot;{{ loggedInUser.profilePic }}&quot;); float: left; margin: 10px 9px 0 0; width:30px; height:30px;">
					</div>
					Profile
					<div id="header-profile-menu" class="menu-hidden">
						<a href="/profile/{{ loggedInUser._id }}" class="header-profile-item">Profile Page</a>
						<a href="/dashboard" class="header-profile-item">Settings</a>
						<a href="#" id="log-out" class="header-profile-item">Log Out</a>
					</div>
				</div>


				{{else}}
				<a href="/log-in">
					<div class="header-button">
						<i class="fa fa-user" aria-hidden="true"></i> Login
					</div>
				</a>
				{{/if}}
			</div>
		</div>

	</header>
</template>