.nav {
    position: fixed;
    height: 100%;
    width: 220px;
    background-color: #fff;
    z-index: 1001;
    padding: 40px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
}

.logo {
    font-size: 24px;
    font-weight: 700;
}
.menu {
    margin: 40px 0;
}
.nav ul {
    margin-top: 20px;
    list-style: none;
    margin: 0;
}
.nav li {
    padding: 10px 0;
}
.nav li.active a {
    color: #F03B5B;
}
.nav li i {
    font-size: 20px;
    vertical-align: bottom;
    margin-right: 10px;
}
.nav li a {
    color: #252525;
}