.nav {
    position: fixed;
    height: 100%;
    width: 60px;
    background-color: #fff;
    padding-top: 100px;
    z-index: 999;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
    transition-duration: .1s;
    transition-timing-function: ease-in-out;
    overflow: hidden;
    will-change: transform;
}

.nav--open {
    width: 220px;
}
.nav #navToggle i{
    transform: rotate(-180deg);
}
.nav--open #navToggle i {
    transform: rotate(0deg);
}
.nav span {  
    color: transparent;
}
.nav--open span {
    color: inherit;
}
.menu {
    transition-duration: .1s;
    width: 220px;
}
.nav ul {
    margin-top: 20px;
    list-style: none;
    margin: 0;
}
.nav li.active a {
    color: #F03B5B;
}
.nav i {
    font-size: 20px;
    vertical-align: bottom;
    margin-right: 10px;
    
}
.nav li a {
    display: block;
    padding: 10px 20px;
    transition-duration: 0s;
    color: #252525;
}
.nav li a:hover {
    background: #f5f5f5;
}
#navToggle {
    margin-top: 20px;
}
#navToggle i {
    transition-duration: .2s;
}
span {
    transition-duration: .1s;
}