<template name="menu">
	<header class="universal-header">
		<div class="page-container container">
			{{#unless currentUser}}
			<a class="logo" id="header-logo" href="/"> OGV </a> {{else}}
			<a class="logo" id="header-logo" href="/newsfeed"> OGV </a> {{/unless}}
			<span class="right-menu">
				{{#unless currentUser}}
				<a class="rm-item rm-log-in" id="log-in" href="/log-in">Login</a>
				{{else}}
				<a class="rm-item" id="notification-icon" title="Notifications"> <img src="/icons/notification.png" width="30px" height="30px"></a>
				{{> notifications}}
				<a href="/explore" class="rm-item" id="upload-icon" title="Explore models and users">
					<img src="/icons/explore.png" width="33px" height="33px"/>
				</a>
				<span class="rm-item rm-log-out" id="user"><img src="/icons/man-user.png" width="30px" height="30px"><img src="/icons/drop-down-arrow.png" width="20px" height="20px"></span>
			<div class="user-menu">
				<a class="um-item" href="/profile/{{ loggedInUser._id}}">
					<div class="user-image"><img src="{{loggedInUser.profilePic}}"></div>
					{{loggedInUser.username}}
				</a>
				<a class="um-item" id="upload-icon" title="Upload" href="/upload">
					<img src="/icons/upload.png" width="20px" height="20px"/>
					<span class="um-label">Upload</span>
				</a>
				<a class="um-item" id="dashboard-icon" title="Settings" href="/dashboard">
					<img src="/icons/Settings.png" width="20px" height="20px"/>
					<span class="um-label">Settings</span>
				</a>
				<a class="um-item" id="log-out" title="Logout" href="/">
					<img src="/icons/logout.png" width="20px" height="20px">
					<span class="um-label">Logout</span>
				</a>
			</div>
			{{/unless}}
			</span>
		</div>
	</header>
</template>