<template name="newMenu">
    <div class="nav">
        <div class="menu">
            <ul>
                <li class="{{ activeIfTemplateIs 'explore' }}"><a href="/explore"><i class="mdi mdi-magnify"></i><span>Explore</span></a></li>
                {{#if currentUser}}
                <li class="{{ activeIfTemplateIs 'models' }}"><a href="/newsfeed"><i class="mdi mdi-menu"></i><span>Feed</span></a></li>
                <li class="{{ activeIfTemplateIs 'cfsUploader' }}"><a href="/upload"><i class="mdi mdi-upload"></i><span>Upload</span></a></li>
                <li class="{{ activeIfTemplateIs 'profilePage' }}"><a href="/profile/{{ loggedInUser._id}}"><i class="mdi mdi-account"></i><span>Profile</span></a></li>
                <li class="{{ activeIfTemplateIs 'dashboard' }}"><a href="/dashboard"><i class="mdi mdi-settings"></i><span>Settings</span></a></li>
                <li><a id="notification-button" href="#"><i class="mdi mdi-bell"></i><span>Notifications</span></a></li>
                <li><a id="log-out" href="#"><i class="mdi mdi-logout"></i><span>Log out</span></a></li>
                {{else}}
                <li class="{{ activeIfTemplateIs 'logIn' }}"><a href="/log-in"><i class="mdi mdi-account"></i><span>Login</span></a></li>
                {{/if}}
                <li><a id="navToggle" href=""><i class="mdi mdi-arrow-left"></i><span>Hide</span></a></li>
            </ul>
        </div>
    </div>
    {{> notifications}}
</template>