<template name="modelPost">
	<div class="post">
		<a href="/view/{{model._id}}">
			<div class="preview" style="background-image: url('{{model.screenshot}}')">
				{{model.name}}
			</div>
		</a>
		<div class="poster">
			{{#if sharedInfo}} {{{sharedInfo}}} {{else}}
			<a href="/profile/{{ owner._id }}"> 
			 	<img src="{{userImg}}">
			 	{{ owner.profile.name }}
			 </a> posted {{/if}}
			<div style="float: right;line-height: 32px">
				<a href="/description/{{postId}}"><i class="mdi mdi-pencil"></i>Edit</a>
				<a href id="deleteModel"><i class="mdi mdi-delete"></i>Delete</a>
			</div>
		</div>
		<div class="info">
			{{ model.about }}
		</div>
		<div class="actions">
			{{#if isLiking}}
			<div class="button button-red-o button-small no-shadow love">
				<img src="/icons/love.png" alt="love" width="16">{{lovers}}
			</div>
			{{else}}
			<div class="button button-o button-small button-gray no-shadow love">
				<img src="/icons/love.png" alt="love" width="16">{{lovers}}
			</div>
			{{/if}}
			<div class="button button-o button-small button-gray button-non-clickable no-shadow">
				Views
				<div class="button-counter">{{model.viewsCount}}</div>
			</div>

			<div style="float:right; line-height: 32px">
				<a class="shareButton" data-src={{postId}} href><i class="mdi mdi-share"></i>Share</a>
				<a class="commentButton" data-src={{postId}} href><i class="mdi mdi-message"></i>Comment</a>
			</div>
		</div>
		{{> comments}}
	</div>
</template>