.post {
  margin: 0 auto 20px auto;
  width: 650px;
  background: #FFF;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}
.post .poster {
  padding: 10px 10px;
}
.post .poster img {
  height: 32px;
  margin-right: 8px;
  width: 32px;
}

.post .preview {
  height: 400px;
  width: 100%;
  background-size: contain;
  color: white;
  font-size: 24px;
  padding: 20px;
}
.post .actions {
  padding: 10px;
  height: 32px;
  box-sizing: content-box;
}
.post .info {
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.post .shareButton {
  margin-right: 10px;
}

.post .shareButton i {
  margin-right: 7px;
}

.post .commentButton i {
  margin-right: 7px;
}
