<template name="modelEditor">
	{{#if currentUser}}
	<div data-src={{_id}} class="edit-controls-wrapper">

		<div class="edit-controls-icons">
			<img class="menu-toggle" src="/icons/menu.png"> {{#if youAreOwner}}
			<img class="model-tools-icon" src="/icons/tools-folder.png"> {{/if}}
			<img class="comments-icon" src="/icons/clipboard-with-pencil.png">
		</div>

		<div class="edit-controls edit-controls-hidden">
			<div class="comments-toolbar ec-inactive">
				{{#each comments}} {{> comment}} {{/each}} {{>commentSubmit}}
			</div>
			{{#if youAreOwner}}
			<div class="ec-model">
				<div class="color-controller ec-item">
					<div class="search-bar">
						<input class="obj-search-bar" type="text" placeholder="Search for an Object">
						<div class="all-objs obj-list-li">
							<img class="white-eye-img" src="/icons/white-eye.png">
							<p class="obj-name-label all-obj-label">All Objects</p>
						</div>
					</div>
					<div class="obj-list">
						<ul class="obj-list-ul">
							{{#each object}}
							<li class="obj-list-li">
								<div data-src={{@index}} class="obj-heading">
									<img class="eye-img" src="/icons/eye.png">
									<p class="obj-name-label">{{original.name}}</p>
									<img class="arrow" src="/icons/drop-down-arrow.png">
								</div>
								<div class="control">
									<label for="faceColor">Color</label>
									<input data-src={{@index}} class="color-picker" type="color" name="faceColor" value="{{this.color}}">
								</div>
							</li>
							{{/each}}
						</ul>
					</div>
				</div>
				<div class="preview-box ec-item">
					<div class="thumbnail-preview" style="background-image:url('{{this.screenshot}}');">
					</div>
					<button class="edit-thumb-btn">Use this as preview</button>
				</div>
			</div>
			{{/if}}
		</div>
	</div>
	{{/if}}
</template>