.post {
    margin: 20px;
    width: 420px;
    background: #FFF;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
}

.post .preview {
    height: 280px;
    width: 100%;
    background-size: contain;
    color: white;
    font-size: 24px;
    padding: 20px;
}
.post .actions {
    padding: 10px;
    height: 32px;
    box-sizing: content-box;
}
.post .info {
    padding: 10px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
}