<template name="shareTickr">
    <a href="/newsfeed/{{model}}">
        <li>{{shareMessage}}</li>
    </a>
</template>
<template name="newsfeedSidebar">
    <div class="newsfeed-info-section">
        <!--
        <div class="newsfeed-info-content share-tickr">
            <ul class="shared-list">
                {{#each sharedModel}} {{>shareTickr}} {{/each}}
            </ul>
        </div>
        -->
        <!-- About the current User -->
        <div class="newsfeed-info-content">
            <a class="newsfeed-profile-link" href="/profile/{{ loggedInUser._id }}">
                <div class="post-item user-image" style="background-image:url(&quot;{{ loggedInUser.profilePic }}&quot;); width: 32px; height: 32px;">
                </div>
                <p class="newsfeed-userInfo">{{loggedInUser.username}}</p>
            </a>
            <div class="info-bio">
                <div class="info-bio-title">About</div>
                <p class="info-bio-text">
                    {{loggedInUser.obj.profile.bio}}
                </p>
            </div>
            <div class="info-counter">
                <div class="info-counter-title">Followers</div>
                <div class="info-conuter-count">{{loggedInUser.followerCount}}</div>
            </div>
            <div class="info-counter">
                <div class="info-counter-title">Following</div>
                <div class="info-conuter-count">{{loggedInUser.followingCount}}</div>
            </div>
            <div class="info-counter">
                <div class="info-counter-title">Models</div>
                <div class="info-conuter-count">{{loggedInUser.modelsCount}}</div>
            </div>
        </div>

        <!-- About whom to follow -->
        <!--
        <div class="newsfeed-info-content">
            <p style="color:#ccc;font-size: 15px;"> Suggested users </p>
            {{#each suggestownerImg}}
            <a href="/profile/{{ this.user }}">
                <div class="post-item user-image" style="background-image:url(&quot;{{this.url}}&quot;); width:40px; height:40px;"></div>
            </a>
            {{/each}}
            {{#each suggestownerInfo}}
                <a href="/profile/{{ this._id }}">{{profile.name}}</a>
                <button class="btn primary-btn btn-default" id="followButton" data-src="{{this._id}}" > + Follow </button>
            <br>
            {{/each}}
        </div>   
        !-->
    </div>
    <style>
        .primary-btn {
            width: 100px;
            font-size: 90%;
        }
    </style>

</template>