<template name="notifications">
	<div class="notifications row-fluid">
		<ul>
			{{#if notifications}} {{#each notifications}} {{> notification}} {{/each}} {{else}}
			<a class="notification-anchor" href="#">
				<div class=notification-container>
					<div class="message-container">
						<p class="notification-message">Hooray! No notifications for now.</p>
					</div>
				</div>
			</a>
			{{/if}}
		</ul>
	</div>

</template>

<template name="notification">
	<li>
		<a class="notification-anchor" href="/newsfeed/{{modelId}}">
			<div class=notification-container>
				<div class="icon-container left-container">
					<img src="{{icon}}">
				</div>
				<div class="message-container right-container">
					<p class="notification-message">{{message}}</p>
				</div>
			</div>
		</a>
	</li>
</template>