<template name="lovemeter">
	<div class="lovemeter-wrapper">
		<img src="/icons/love.png"> {{ lovers }}
	</div>
</template>
<template name="comments">
	{{> commentBody }}
</template>

<template name="commentBody">
	<div class="comments">
		{{#each comments}} {{> comment}} {{/each}} {{#if currentUser}} {{> commentSubmit}} {{else}}
		<p> Please log in to leave a comment.</p>
		{{/if}}
	</div>
</template>

<template name="commentsHeader">
	<div class="comments-icon">
		<img src="/icons/Chat.png" />
	</div>

	<div class="comments-header">
		<span class="comments-header-text"> Show comments</span>
	</div>
</template>

<template name="comment">
	<div class="comment-item">
		<div class="comment-info">
			<span class="author"><a href="/profile/{{userId}}">{{author}}</a></span>
			<span style="float: right" class="date">on {{submittedText}}</span>
		</div>
		<p> {{body}}</p>
	</div>
</template>

<template name="commentSubmit">
	<form name="comment" class="comment-form">
		<div class="control-group">
			<div class="controls">
				<label for="body">Comment on this post</label>
				<textarea class="comment-input" name="body"></textarea>
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<button type="submit" class="add-coment-btn">Add Comment</button>
			</div>
		</div>
	</form>
</template>