.lovemeter-wrapper {
  float: left;
  margin-right: 5px;
}

.comments-wrapper {
  margin-top: 5px;
}
.comments {
  display: none;
  overflow: hidden;
}

.comment-input {
  background-color: #eaeaea;
  padding: 10px;
}

.comment-info {
  font-size: 12px;
}

.comments {
  padding: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.comments form {
  margin: 0;
}
.comments button {
  border: 0;
  font-weight: bold;
  color: white;
  padding: 5px 8px;
  background-color: #f74c3c;
}
.comment-item {
  padding: 10px;
}
.comment-item p {
  padding-top: 5px;
}
